body{
	background-color: #444;
}
.navbar{border-radius: 0;}
.panel{
	padding: 25px 50px;
	margin-bottom: 100px;
}
h4.subjectForm {
	margin-top: 50px;
}
.footer{
	background-color: #222;
	color:#ddd;
	width:100%;
	position: fixed;
	bottom: 0;
}